/*
	Setup
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--font-serif: 'Inter', sans-serif;

	--font-size-1: 1.6rem;
	--font-size-2: 1.8rem;
	--font-size-3: 2.4rem;
	--font-size-4: 3.2rem;
	--font-size-5: 8rem;

	--size-1: 0.5rem;
	--size-2: 1.6rem;
	--size-3: 2.4rem;
	--size-4: 3.2rem;

	--white-0: hsl(0 0% 98%);
	--gray-1: hsl(210 34% 80%);
	--gray-2: hsl(0, 0%, 34%);
	--black-1: hsl(210 34% 13%);
	--black-2: hsl(209, 35%, 15%);
	--black-3: hsl(209 22% 19%);
	--blue-0: hsl(204 88% 53%);
	--blue-1: hsl(204 88% 60%);
	--blue-2: hsl(205 70% 33%);

	--radius-1: 2.4rem;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: var(--radius-1);
	background-color: var(--blue-0);
}

html {
	font-size: 62.5%;
}

html,
body {
	height: 100%;
}

body {
	background-color: var(--black-1);
	color: var(--white-0);
	font-size: var(--font-size-2);
	font-family: var(--font-serif);
}

a {
	color: var(--white-0);
	text-decoration: none;
}

label {
	display: block;
	margin: var(--size-1) 0;
	color: var(--gray-1);
	font-size: var(--font-size-3);
}

input {
	border: none;
	border-radius: var(--radius-1);
	padding: var(--size-2);
	font-size: var(--font-size-3);
}

.btn {
	cursor: pointer;
	border: none;
	border-radius: var(--radius-1);
	background-color: var(--blue-0);
	padding: var(--size-2) var(--size-4);
	color: var(--white-0);
	font-weight: bold;
	font-size: var(--font-size-2);
}

.btn:hover {
	background-color: var(--blue-1);
}

.btn:disabled {
	cursor: not-allowed;
	background-color: var(--blue-2);
	color: var(--gray-1);
}

ul,
ol {
	list-style: none;
}

/*
	Utils
*/

.responsive {
	border: 1px solid hsl(0 0% 0%);
	overflow: scroll;
	resize: both;
}

.placeholder {
	border-radius: var(--radius-1);
	background-color: var(--gray-1);
	padding: var(--size-3) 0;
}
